// @mixin make-container() {
//   width: 100%;
//   padding-right: ($grid-gutter-width / 2);
//   padding-left: ($grid-gutter-width / 2);
//   margin-right: auto;
//   margin-left: auto;
// }

// // For each breakpoint, define the maximum width of the container in a media query
// @mixin make-container-max-widths($max-widths: $container-max-widths, $breakpoints: $grid-breakpoints) {
//   @each $breakpoint, $container-max-width in $max-widths {
//     @include media-breakpoint-up($breakpoint, $breakpoints) {
//       max-width: $container-max-width;
//     }
//   }
// }

// @mixin make-row() {
//   display: flex;
//   flex-wrap: wrap;
//   margin-right: ($grid-gutter-width / -2);
//   margin-left: ($grid-gutter-width / -2);
// }

// @mixin make-col-ready() {
//   position: relative;
//   // Prevent columns from becoming too narrow when at smaller grid tiers by
//   // always setting `width: 100%;`. This works because we use `flex` values
//   // later on to override this initial width.
//   width: 100%;
//   min-height: 1px; // Prevent collapsing
//   padding-right: ($grid-gutter-width / 2);
//   padding-left: ($grid-gutter-width / 2);
// }

// @mixin make-col($size, $columns: $grid-columns) {
//   flex: 0 0 percentage($size / $columns);
//   // Add a `max-width` to ensure content within each column does not blow out
//   // the width of the column. Applies to IE10+ and Firefox. Chrome and Safari
//   // do not appear to require this.
//   max-width: percentage($size / $columns);
// }

// @mixin make-col-offset($size, $columns: $grid-columns) {
//   $num: $size / $columns;
//   margin-left: if($num == 0, 0, percentage($num));
// }

.row {
  width: 94%;
  max-width: 1170px;
  margin: 0 auto;
}
.row:before, .row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}

.row .row {
  width: auto;
  max-width: none;
  margin-left: -20px;
  margin-right: -20px;
}

// .center {
//   align-content: center;
// }


[class*="col-"], .bgrid {
  float: left;
}

[class*="col-"] + [class*="col-"].end {
  float: right;
}

[class*="col-"] {
  padding: 0 20px;
}

.col-one, .col-1 {
  width: 8.33333%;
}

.col-two, .col-1-6 {
  width: 16.66667%;
}

.col-three, .col-1-4 {
  width: 25%;
}

.col-four, .col-1-3 {
  width: 33.33333%;
}

.col-five {
  width: 41.66667%;
}

.col-six, .col-1-2 {
  width: 50%;
}

.col-seven {
  width: 58.33333%;
}

.col-eight, .col-2-3 {
  width: 66.66667%;
}

.col-nine, .col-3-4 {
  width: 75%;
}

.col-ten, .col-5-6 {
  width: 83.33333%;
}

.col-eleven {
  width: 91.66667%;
}

.col-twelve, .col-full {
  width: 100%;
  align-content: center;
}

/* ------------------------------------------------------------------- 
 * small screens - (_grid.scss)
 * ------------------------------------------------------------------- */
@media screen and (max-width: 1024px) {
  .row .row {
    margin-left: -18px;
    margin-right: -18px;
  }

  [class*="col-"] {
    padding: 0 18px;
  }
}
/* ------------------------------------------------------------------- 
 * tablets - (_grid.scss)
 * ------------------------------------------------------------------- */
@media screen and (max-width: 768px) {
  .row {
    width: auto;
    padding-left: 30px;
    padding-right: 30px;
  }

  .row .row {
    padding-left: 0;
    padding-right: 0;
    margin-left: -15px;
    margin-right: -15px;
  }

  [class*="col-"] {
    padding: 0 15px;
  }

  .tab-1-4 {
    width: 25%;
  }

  .tab-1-3 {
    width: 33.33333%;
  }

  .tab-1-2 {
    width: 50%;
  }

  .tab-2-3 {
    width: 66.66667%;
  }

  .tab-3-4 {
    width: 75%;
  }

  .tab-full {
    width: 100%;
  }
}
/* ------------------------------------------------------------------- 
 * large mobile devices - (_grid.scss)
 * ------------------------------------------------------------------- */
@media screen and (max-width: 600px) {
  .row {
    padding-left: 25px;
    padding-right: 25px;
  }

  .row .row {
    margin-left: -10px;
    margin-right: -10px;
  }

  [class*="col-"] {
    padding: 0 10px;
  }

  .mob-1-4 {
    width: 25%;
  }

  .mob-1-2 {
    width: 50%;
  }

  .mob-3-4 {
    width: 75%;
  }

  .mob-full {
    width: 100%;
  }
}
/* ------------------------------------------------------------------- 
 * small mobile devices - (_grid.scss)
 * ------------------------------------------------------------------- */
@media screen and (max-width: 400px) {
  .row .row {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }

  [class*="col-"] {
    width: 100% !important;
    float: none !important;
    clear: both !important;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }

  [class*="col-"] + [class*="col-"].end {
    float: none;
  }
}
/* ===================================================================
 * block grids - (_grid.scss)
 *
 * ------------------------------------------------------------------- */
[class*="block-"]:before, [class*="block-"]:after {
  content: "";
  display: table;
}
[class*="block-"]:after {
  clear: both;
}

.block-1-6 .bgrid {
  width: 16.66667%;
}

.block-1-4 .bgrid {
  width: 25%;
}

.block-1-3 .bgrid {
  width: 33.33333%;
}

.block-1-2 .bgrid {
  width: 50%;
}

/**
 * Clearing for block grid columns. Allow columns with 
 * different heights to align properly.
 */
.block-1-6 .bgrid:nth-child(6n+1),
.block-1-4 .bgrid:nth-child(4n+1),
.block-1-3 .bgrid:nth-child(3n+1),
.block-1-2 .bgrid:nth-child(2n+1) {
  clear: both;
}

/* ------------------------------------------------------------------- 
 * small screens - (_grid.scss)
 * ------------------------------------------------------------------- */
@media screen and (max-width: 1024px) {
  .block-s-1-6 .bgrid {
    width: 16.66667%;
  }

  .block-s-1-4 .bgrid {
    width: 25%;
  }

  .block-s-1-3 .bgrid {
    width: 33.33333%;
  }

  .block-s-1-2 .bgrid {
    width: 50%;
  }

  .block-s-full .bgrid {
    width: 100%;
    clear: both;
  }

  [class*="block-s-"] .bgrid:nth-child(n) {
    clear: none;
  }

  .block-s-1-6 .bgrid:nth-child(6n+1),
  .block-s-1-4 .bgrid:nth-child(4n+1),
  .block-s-1-3 .bgrid:nth-child(3n+1),
  .block-s-1-2 .bgrid:nth-child(2n+1) {
    clear: both;
  }
}
/* ------------------------------------------------------------------- 
 * tablets - (_grid.scss)
 * ------------------------------------------------------------------- */
@media screen and (max-width: 768px) {
  .block-tab-1-6 .bgrid {
    width: 16.66667%;
  }

  .block-tab-1-4 .bgrid {
    width: 25%;
  }

  .block-tab-1-3 .bgrid {
    width: 33.33333%;
  }

  .block-tab-1-2 .bgrid {
    width: 50%;
  }

  .block-tab-full .bgrid {
    width: 100%;
    clear: both;
  }

  [class*="block-tab-"] .bgrid:nth-child(n) {
    clear: none;
  }

  .block-tab-1-6 .bgrid:nth-child(6n+1),
  .block-tab-1-4 .bgrid:nth-child(4n+1),
  .block-tab-1-3 .bgrid:nth-child(3n+1),
  .block-tab-1-2 .bgrid:nth-child(2n+1) {
    clear: both;
  }
}
/* ------------------------------------------------------------------- 
 * large mobile devices - (_grid.scss)
 * ------------------------------------------------------------------- */
@media screen and (max-width: 600px) {
  .block-mob-1-6 .bgrid {
    width: 16.66667%;
  }

  .block-mob-1-4 .bgrid {
    width: 25%;
  }

  .block-mob-1-3 .bgrid {
    width: 33.33333%;
  }

  .block-mob-1-2 .bgrid {
    width: 50%;
  }

  .block-mob-full .bgrid {
    width: 100%;
    clear: both;
  }

  [class*="block-mob-"] .bgrid:nth-child(n) {
    clear: none;
  }

  .block-mob-1-6 .bgrid:nth-child(6n+1),
  .block-mob-1-4 .bgrid:nth-child(4n+1),
  .block-mob-1-3 .bgrid:nth-child(3n+1),
  .block-mob-1-2 .bgrid:nth-child(2n+1) {
    clear: both;
  }
}
/* ------------------------------------------------------------------- 
 * stack on small mobile devices - (_grid.scss)
 * ------------------------------------------------------------------- */
@media screen and (max-width: 400px) {
  .stack .bgrid {
    width: 100% !important;
    float: none !important;
    clear: both !important;
    margin-left: 0;
    margin-right: 0;
  }
}
/* ===================================================================
 *  04. MISC  - (_grid.scss)
 *
 * ------------------------------------------------------------------- */
 
/* Clearing - (http://nicolasgallagher.com/micro-clearfix-hack/
 */
.group:before, .group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}

/* Misc Helper Styles 
 */
.hide {
  display: none;
}

.invisible {
  visibility: hidden;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.overflow-hidden {
  overflow: hidden;
}

.remove-bottom {
  margin-bottom: 0;
}

.half-bottom {
  margin-bottom: 1.5rem !important;
}

.add-bottom {
  margin-bottom: 3rem !important;
}

.no-border {
  border: none;
}

.full-width {
  width: 100%;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.align-center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

