section {
  background: var(--color-bg);//#000;//#fff;//#e8e8e8;
  // min-height: 600px;
  position: relative;
  //padding: 0;
  //padding: 5rem 0 3rem;
  color: var(--color-primary);//#fff;//#000;
}

.section-intro {
    text-align: center;
    position: relative;
    margin-bottom: 1.5rem;
  }
  .section-intro h1 {
    font-family: $font-family-bold;
    font-size: 3.6rem; /* 4.8 */
    line-height: 1.375;
    color:var(--color-primary);//#FFFFFF;// rgba(242, 242, 242, 0.5); /*#151515;*/
  }
  .section-intro h3 {
    font-family: "montserrat-bold", sans-serif;
    font-size: 1.8 rem;
    line-height: 1.667;
    color: var(--color-primary);//#FFFFFF; //rgba(242, 242, 242, 0.5);
    text-transform: uppercase;
    letter-spacing: .3rem;
    margin-bottom: 1.2rem;
  }
  .section-intro .lead {
    font-family: "montserrat-regular", sans-serif;
    font-size: 1.8;
    line-height: 1.833;
    color: var(--color-primary);//#FFFFFF;// rgba(242, 242, 242, 0.1);
  }
  .section-intro.with-bottom-sep {
    padding-bottom: 4.2rem;
    position: relative;
  }
  .section-intro.with-bottom-sep::after {
    display: inline-block;
    height: 1px;
    width: 200px;
    background-color: var(--color-primary);//#FFFFFF;// rgba(242, 242, 242, 0.1);
    text-align: center;
  }
  
  /* ------------------------------------------------------------------- 
   * responsive:
   * section-intro
   * ------------------------------------------------------------------- */
  @media only screen and (max-width: 1024px) {
    .section-intro h1 {
      font-size: 4.4rem;
    }
    .section-intro .lead {
      font-size: 1rem;//1.7rem;
    }
  }
  @media only screen and (max-width: 768px) {
    .section-intro h1 {
      font-size: 4rem;
    }
    .section-intro h3 {
      font-size: 1.7rem;
    }
  }
  @media only screen and (max-width: 600px) {
    .section-intro h1 {
      font-size: 3.4rem;
    }
    .section-intro h3 {
      font-size: 1.7rem;
    }
  }
  @media only screen and (max-width: 500px) {
    .section-intro h3 {
      font-size: 1.5rem;
    }
  }
  @media only screen and (max-width: 400px) {
    .section-intro h1 {
      font-size: 2rem;//3.1rem;
    }
  }
  .wide {
    max-width: 1300px;
  }
  
  .narrow {
    max-width: 800px;
  }
  
  .js .animate-this, .js .animate-intro {
    opacity: 0;
  }
  
  .oldie .animate-this,
  .oldie .animate-intro
  .no-cssanimations .animate-this,
  .no-cssanimations .animate-intro {
    opacity: 1;
  }
  
  