 #speaker {
    background: var(--color-bg);//#000;//#fff;//#e8e8e8;
    min-height: 600px;
    position: relative;
    //padding: 0;
    padding: 5rem 0 3rem;
    color: var(--color-primary);//#fff;//#000;
  }
  #speaker .intro-wrap {
    padding: 15rem 0 21rem;
    background: var(--color-bg);//#000;//#111111;
  }
  #speaker .section-intro h3 {
    color: var(--color-primary);//#fff;//#000; //rgba(242, 242, 242, 0.5);
  }
  #speaker .section-intro h1 {
    color: var(--color-primary);//#fff;//#000;
  }
  #speaker .section-intro .lead {
    color: var(--color-primary);//#fff;//#000;//rgba(242, 242, 242, 0.4);
  }
  #speaker .portfolio-content {
    margin-top: -22.2rem;
  }
  #speaker .bricks-wrapper:before, 
  #speaker .bricks-wrapper:after {
    content: "";
    display: table;
  }
  #speaker .bricks-wrapper:after {
    clear: both;
  }
  #speaker .bricks-wrapper .brick {
    float: left;
    width: 50%;
    padding: 0;
    margin: 0;
  }
  #speaker .bricks-wrapper .brick:nth-child(2n+1) {
    clear: both;
  }
  
  #speaker .speaker-content {
    // text-align: center;
    max-width: 1040px;
  }
  #speaker .speaker-list {
    margin-top: 1.2rem;
    // text-align: center;
  }
  #speaker .speaker-list .topic-item {
    margin-bottom: 3rem;
    padding: 0 50px;
  }
  #speaker .speaker-list .topic-item p {
    color: var(--color-primary);//#fff;//rgba(242, 242, 242, 0.5);
  }
  #speaker .speaker-list .icon {
    display: inline-block;
    margin-bottom: 1.5rem;
  }
  #speaker .speaker-list .icon i {
    font-size: 5.4rem;
    color: red;//#f9a828;
  }
  #speaker .speaker-list .h05 {
    font-size: 1.7rem;
    line-height: 1.765;
    color: var(--color-primary);//#fff;//#000000;
    margin-bottom: 3rem;
  }
