 #sponsors {
    background-color: #000;//e9eaea;
    padding: 4.8rem 0 4.8rem;
  }
  #sponsors .sponsors-lists .owl-item {
    opacity: .6;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
  }
  #sponsors .sponsors-lists .owl-item:hover {
    opacity: 1;
  }
  #sponsors .owl-carousel .owl-nav {
    margin-top: 1.8rem;
    margin-bottom: 1.5rem;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
  }
  #sponsors .owl-carousel .owl-nav [class*='owl-'] {
    color: #FFFFFF;
    font-family: "montserrat-regular", sans-serif;
    font-size: 1.4rem;
    height: 3rem;
    line-height: 3rem;
    margin: .6rem;
    padding: 0 10px;
    background: rgba(0, 0, 0, 0.5);
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
  }
  #sponsors .owl-carousel .owl-nav [class*='owl-']:hover {
    background: rgba(0, 0, 0, 0.7);
    color: #FFFFFF;
    text-decoration: none;
  }
  #sponsors .owl-carousel .owl-nav .disabled {
    background: rgba(0, 0, 0, 0.2);
    cursor: default;
  }
  #sponsors .owl-carousel .owl-nav.disabled + .owl-dots {
    margin-top: 1.8rem;
  }
  #sponsors .owl-carousel .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
  }
  #sponsors .owl-carousel .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline;
  }
  #sponsors .owl-carousel .owl-dots .owl-dot span {
    width: 9px;
    height: 9px;
    background-color: #959595;
    margin: 6px 6px;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 50%;
  }
  #sponsors .owl-carousel .owl-dots .owl-dot.active span,
  #sponsors .owl-carousel .owl-dots .owl-dot:hover span {
    background-color: #000000;
  }
  