<section id="about">
	<div class="row">
		<div class="col-full">
			<div class="about-profile-bg"></div>
			<div>
				<h3 class="animate-this">About</h3>
				<p class="lead animate-this">TulsaTechFest 2021 is our 14th conference. It is a *FREE charitable non-profit event organized, by the community for the community.</p>
			</div>   
   		</div>
   	</div>
	   
	<div class="row">
		<div class="col-full">
			<p class="lead">Even though it is a free event, we request you to *PLEASE bring TWO CANS or TWO BUCKS. We usually collect around 500 pounds of food! Let's top that this year! Help your community, the Community Food Bank and Homeless Center!</p>
			{% if (features.aboutDetails === '1'and collections['nav-about']) %}
				<div class="more>
				{% for item in collections['nav-about'] %}
					<a class="button stroke" href="{{item.data.url}}">{{item.data.title}}</a>
				{% endfor %}
				</div>
			{% endif %}
			<p class="lead"><a href="{{ '/#audience' | url | urlspa }}">SAVE THE DATE. YOU DON'T WANT TO MISS IT. THERE'S SOMETHING FOR EVERYONE.</a></p>
		</div>
	</div>
	{% if (features.singlePageHomePage === '1') %}
	<div class="scrolldown"><a href="#audience" class="scroll-icon smoothscroll">Scroll Down<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></div>
	{% endif %}
</section>