<section id="audience">
	<div class="overlay"></div>
   	<div class="gradient-overlay"></div>
   	<div class="row section-intro with-bottom-sep animate-this">
   		<div class="col-full">
			<h3>Something for Everyone</h3>
			<h2>Who Should Attend? Everyone!</h2>
			<p class="lead">With so many sessions, there truly is something for everyone.<br/><br/>
			Anyone wanting to start or further develop their career will definitely find interesting and instructional presentations by professional speakers with this many hours of training.<br/><br/>
			Network! Learn something new! Meet someone new! This is your opportunity to get out of the house and/or office!</p>
			<p><a href="/about/conduct/">*Code of Conduct: By attending the event or using this site (or apps), you agree to abide by the Code of Conduct.*</a></p>
			{# <p class="lead">Anyone can level up in the Microsoft Office track!</p> #}
			{# <p class="lead">Anyone wanting to further develop their career will definitely find interesting and instructional presentations by professional speakers with this many hours of training.</p>
			<p class="lead">This is your opportunity to get out of the house and/or office!</p>
			<p class="lead">Network! Learn something new! Meet someone new!</p>
			<p>*Code of Conduct: By attending the event or using this site (or apps), you agree to abide by the Code of Conduct.*</p> #}
   	   </div>		  
   	</div>
	{% if (features.singlePageHomePage === '1') %}
	<div class="scrolldown"><a href="/#sponsor" class="scroll-icon smoothscroll">Scroll Down<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></div>
	{% endif %}
</section>
