{# <h3 class="pricing-plan-title d-flex align-items-center">{{item.data.title}} {# <span class="badge badge-pill offer-badge ml-auto">20% off</span>#}{#</h3>  #}
<h3 class="{{ params.title | lowercase }}-title d-flex align-items-center">{{params.title}}</h3> 
{# <p class="h1 pricing-plan-original-cost"><del>$23.00</del></p> #}
<p class="h1 {{ params.subtitle | lowercase }}-subtitle">{{params.subtitle}} <span class="currency">USD</span></p>

{% if (params.description != "") %}
<div class="text-center">
    <p>{{ params.description | safe }}</p>
</div>
{% endif %}

<ul class="pricing-plan-features">
{% for feature in params.collections['sponsorfeature' + item.data.title | lower] %}
    <li class="feature-{{ 'special' if feature.data.type == 'special' else 'item'}}">{{feature.data.text | safe}}</li>
    {# <li{{' class=feature-special' if feature.data.type == 'special' }}>{{feature.data.text | safe}}</li> #}
{% endfor %}

{% if (loop.index <= 3) %}
    {% for feature in params.collections['sponsorfeatureall' | lower] %}
        <li class="feature-{{ 'special' if feature.data.type == 'special' else 'item'}}">{{feature.data.text | safe}}</li>
        {# <li{{' class=feature-special' if feature.data.type == 'special' }}>{{feature.data.text | safe}}</li> #}
    {% endfor %}
{% endif %}
</ul>
<a href="#connect" class="btn">Sponsor Now!</a>
{# <div class="text-center">
<a href="#contact" class="pricing-plan-link">Learn more</a>
</div> #}
