<div class="cards-{{ params.title | tolower }}">
{# <h1>{{params.title}}</h1> #}
    {% for item in params.data %}
{# }        <h1>{{item.data.title}}</h1> #}
        <div class="col-md-4">
            
            <div class="card card-{{params.title | tolower}}">
                <div class="card-body">
                {% if (params.include === '') %}
                    {{ component(card, { data: item }) }}
                {% else %}
                  {# {% include "./" + params.include + ".njk" %} #}
                    {{ component(params.include, { data: item }) }}
                {% endif %}
                </div>
            </div>
        </div>
    {% endfor %} 
    {#
 <div class="card card-{{params.cardClass ?? params.title | tolower}}"> 
  title: params.title | tolower,
 #}

</div>
