<section id="contact">
      <div class="overlay"></div>
		<div class="row narrow section-intro with-bottom-sep animate-this">
   		<div class="col-twelve">
   			<h3>Connect</h3>
   			<h1>Get In Touch.</h1>
   			<p class="lead">Don't be strangers. Connect with us and join your community.</p>
   		</div> 
   	</div>
   	<div class="row contact-content">
   		<div class="col-seven tab-full animate-this">
   			<h5>Send Us A Message</h5>
            <!-- form -->
            <form name="contactForm" id="contactForm" method="post">     			
               <div class="form-field">
					<input name="contactName" type="text" id="contactName" placeholder="Name" value="" minlength="2" required="">
               </div>
               <div class="row">
                 	<div class="col-six tab-full">
                 		<div class="form-field">
                 			<input name="contactEmail" type="email" id="contactEmail" placeholder="Email" value="" required="">
                 		</div>		      			   
		            </div>
	            	<div class="col-six tab-full">	            
	            		<div class="form-field">
	            			<input name="contactSubject" type="text" id="contactSubject" placeholder="Subject" value="">
	                  </div>		     				   
		            </div>
               </div>
               <div class="form-field">
	              	<textarea name="contactMessage" id="contactMessage" placeholder="message" rows="10" cols="50" required=""></textarea>
	            </div> 
               <div class="form-field">
                  <button class="submitform">SEND</button>
                  <div id="submit-loader">
                     <div class="text-loader">Sending...</div>                             
       			      <div class="s-loader">
							  	<div class="bounce1"></div>
							  	<div class="bounce2"></div>
							  	<div class="bounce3"></div>
							</div>
						</div>
               </div>
      		</form>
            <div id="message-warning"></div> 
      		<div id="message-success">
               <i class="fa fa-check"></i>Your message was sent, thank you!<br>
      		</div>
         </div>

         <div class="col-four tab-full contact-info end animate-this">
         	<h5>Contact Information</h5>
	   		<div class="cinfo"><h6><a href="mailto:director[@]tulsatechfest.com">Email</a></h6>
			<h6><a href="tel:19184062640">Call: (+1) 918-406-2640</a></h6>
			<h6>Event Location:</h6><p>
	            	OSU-Tulsa Campus<br>
	            	500 N Greenwood Ave<br>
	            	Tulsa, OK 73120 US
	            </p>
			<h4 class="h05">Get Notified.</h4>
	      		<p>Share your email with us<br/> and we'll keep you updated!</p>
	      		<div class="subscribe-form">
	      			<form id="mc-form" class="group" novalidate="true">
							<input type="email" value="" name="dEmail" class="email" id="mc-email" placeholder="type email" required=""> 
			   			<!-- <input type="submit" name="subscribe" > -->
			   			<!--<button><i class="icon-mail"></i></button>-->
						<button class="submitform">SEND</button>
		   				<label for="mc-email" class="subscribe-message"></label>
					</form>
	      		</div>				
         </div>
		 
   	</div>
	</section>
