   <section id="donate">
   	<div class="overlay"></div>
   	<div class="gradient-overlay"></div>   	
   	<div class="row section-intro animate-this">
   		<div class="col-full">   			
        <h3>Donate</h3>
        <p class="lead">
        <a href="https://sessionize.com/tulsatechfest-2021">Please submit your paper/session details using Sessionize.<br/>
        <img src="/assets/images/banners/sessionize-call-for-papers.png" alt="Please submit your session details using Sessionize" width="400" height="64">
        </a></p>
      </div>
    </div>
  </section>