<header class="header" role="banner">
    <div class="header__inner container">
        <div class="header__left">
            {% if (features.showSiteIcon !== '1') %}
                <a href="/" class="header-title-link">TulsaTechFest 2021</a>
            {% else %}
                <a href="/" class="header-title-link"><div class="header-logo"></div> TulsaTechFest 2021</a>
            {% endif %}
            {# {% if (url !== '/nav/' and url.substring(0,1) !== '#' and url.substring(0,2) !== '/#') %}
                {% set navPages = collections.all | eleventyNavigationBreadcrumb('Sponsors') %}
                {% if (navPages) %}
                    {{ navPages | dump | safe }}
                {% endif %}
            {% endif %} #}
            {# {% if(page.url) %}
            {% breadcrumb page.url, page.data.title %}
            {% endif %} #}

        </div>
        <div class="header__right">
            {% include "./navigation.njk" %}
        </div>
    </div>
</header>