{# {%- from "component.njk" import component -%} #}
<section id="home">
	<div class="overlay"></div>
	<div class="home-content-table">	
		<div class="home-content-tablecell">
			<div class="row">
				<div class="col-twelve">
					<h3>Tulsa Tech Fest 2021</h3>
					<h2 class="animate-intro">Regretfully 2021 has been cancelled.</h2>
					<h1 class="animate-intro">Stay safe and we will see you in 2022!</h1>
					</div>
					{#<p class="lead"><a href="{{ '/#audience' | url | urlspa }}">SAVE THE DATE. YOU DON'T WANT TO MISS IT. THERE'S SOMETHING FOR EVERYONE.</a></p>#}
				</div>
			</div>
			<div class="sideway-list font-lg animate-intro">
				{# {{ component('socialLinks', {
					primary: 'list-links',
					secondary: 'table-item',
					data: collections.links
				}) }} #}
				{% for item in collections.links %}
					<a href="{{item.data.url}}" target="_blank" rel="noopener"><i class="{{item.data.icon}}"></i></a>
				{% endfor %}
			</div>
		</div>	   
	</div>
	{# <ul class="home-social-list">
		{# {% include './socialLinks.njk' %} #}
		{# <li class="animate-intro"><a href="https://facebook.com/tulsatechfest"><i class="fa fa-facebook-square"></i></a></li>
		<li class="animate-intro"><a href="https://twitter.com/tulsatechfest"><i class="fa fa-twitter"></i></a></li>
		<li class="animate-intro"><a href="https://instagram.com/techfests"><i class="fa fa-instagram"></i></a></li> #}
		{# <li class="animate-intro"><a href="#"><i class="fa fa-behance"></i></a></li>
		<li class="animate-intro"><a href="#"><i class="fa fa-dribbble"></i></a></li>	       #}
	{# </ul> #}
	{# {{ component('socialLinks', {
		primary: 'home-social-list',
		secondary: 'animate-intro',
		data: collections.links
	}) }} #}
	{# <ul class="home-social-list">
		{% for item in collections.links %}
			<li class="animate-intro fadeInUp animated"><a href="{{item.url}}" target="_blank" rel="noopener"><i class="{{item.data.icon}}"></a></li>
		{% endfor %}
	</ul>  #}
	{% if (features.singlePageHomePage === '1') %}
	<div class="scrolldown"><a href="#about" class="scroll-icon smoothscroll">Scroll Down<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></div>			
	{% endif %}
</section>
