{# {%- from "component.njk" import component -%} #}
<section id="home">
	<div class="overlay"></div>
	<div class="home-content-table">	
		<div class="home-content-tablecell">
			<div class="row">
				<div class="col-twelve">
					{% if (features.homeSplashImage === '1') %}
						<img src="/assets/images/logo-splash.png" alt="TULSA TECHFEST 2012"/>
					{% endif %}
					<h3>Tulsa Tech Fest 2021</h3>
					<h2 class="animate-intro">YEAH, WE'RE BACK! Friday, November 12, 2021</h2>
					<h1 class="animate-intro">The regions largest *FREE Technical Training Conference</h1>
					<div class="more animate-intro">
						{% if (alerts) %}
							{% for item in alerts %}
								<a class="button stroke{{' smoothscroll' if item.url.indexOf('#') > -1 and features.singlePageHomePage === '1' }}" href="{{item.url | url | urlspa}}">{{item.text}}</a>
							{% endfor %}
							<br/>
						{% endif %}
						{% for item in nav.main %}
						 	{% if item.url and not item.title.startsWith('_') %}
								<a class="button stroke{{' smoothscroll' if item.url.indexOf('#') > -1 and features.singlePageHomePage === '1' }}" href="{{item.url | url | urlspa}}">{{item.title}}</a> 
							{% endif %}
						{% endfor %}{# 
						{% if (collections['nav-about']) %}
							<br/>
							{% for item in collections['nav-about'] %}
								<a class="button stroke" href="{{item.data.url}}">{{item.data.title}}</a>
							{% endfor %}
						{% endif %} #}
					</div>
					<h1><a href="{{ '/#audience' | url | urlspa }}">SAVE THE DATE! YOU DON'T WANT TO MISS IT! THERE'S SOMETHING FOR EVERYONE!</a></h1>
				</div>
			</div>
			<div class="sideway-list font-lg animate-intro">
				{# {{ component('socialLinks', {
					primary: 'list-links',
					secondary: 'table-item',
					data: collections.links
				}) }} #}
				{% for item in collections.links %}
					<a href="{{item.data.url}}" target="_blank" rel="noopener"><i class="{{item.data.icon}}"></i></a>
				{% endfor %}
			</div>
		</div>	   
	</div>
	{# <ul class="home-social-list">
		{# {% include './socialLinks.njk' %} #}
		{# <li class="animate-intro"><a href="https://facebook.com/tulsatechfest"><i class="fa fa-facebook-square"></i></a></li>
		<li class="animate-intro"><a href="https://twitter.com/tulsatechfest"><i class="fa fa-twitter"></i></a></li>
		<li class="animate-intro"><a href="https://instagram.com/techfests"><i class="fa fa-instagram"></i></a></li> #}
		{# <li class="animate-intro"><a href="#"><i class="fa fa-behance"></i></a></li>
		<li class="animate-intro"><a href="#"><i class="fa fa-dribbble"></i></a></li>	       #}
	{# </ul> #}
	{# {{ component('socialLinks', {
		primary: 'home-social-list',
		secondary: 'animate-intro',
		data: collections.links
	}) }} #}
	{# <ul class="home-social-list">
		{% for item in collections.links %}
			<li class="animate-intro fadeInUp animated"><a href="{{item.url}}" target="_blank" rel="noopener"><i class="{{item.data.icon}}"></a></li>
		{% endfor %}
	</ul>  #}
	{% if (features.singlePageHomePage === '1') %}
	<div class="scrolldown"><a href="#about" class="scroll-icon smoothscroll">Scroll Down<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></div>			
	{% endif %}
</section>