{#<a id="header-menu-trigger" href="#0">
     <span class="header-menu-text">Menu</span>
    <span class="header-menu-icon"></span>
</a>#}
<nav id="menu-nav-wrap">
    {% if (features.themeSelector === '1') %} 
    <div class="themeSelector"><label for="themeSwitch" class="themeSelectorLabel">Light:</label><div class="switch"><input class="switch__input" type="checkbox" id="themeSwitch"><label aria-hidden="true" class="switch__label" for="themeSwitch">On</label>
        <div aria-hidden="true" class="switch__marker"></div></div>
    </div>
    {% endif %} 
    <a href="#0" class="close-button" title="close"><span>Close</span></a>
    <h3><a href="/">TulsaTechFest</a></h3>  
    <ul class="nav-list">
        {%- for item in nav.main | admin -%}
          {#{%- if item.url and (not item.title.startsWith('_') or features.adminMenu === '1') -%}#}
                {%- set isCurrent = (item.url == page.url) -%}
                {%- set isParent = item.url != '/' and item.url in page.url -%}
                <li class="{% if isCurrent or isParent %}current{% endif %}">
                    <a
                        class="{{ 'smoothscroll' if item.url.indexOf('#') > -1 and features.singlePageHomePage === '1' }}"
                        href="{% if isCurrent %}#main{% else %}{{ item.url | url | urlspa }}{% endif %}"
                        {% if isCurrent %}aria-current="page"{% endif %}
                        title="{{ item.title | title }}"
                    >
                        {{ item.title | title }}
                    </a>
                </li>
            {#{%- endif -%}#}
        {%- endfor -%}
    </ul>
    {% if (alerts) %}
    <ul class="nav-list-alerts">
    {% for item in alerts %}
        {# <p class="alert-text"><a href="{{item.url}}">{{item.data.text}}</a></p> #}
        <li><a href="{{item.url | url | urlspa }}">{{item.text}}</a></li>
    {% endfor %}
    </ul>
    {% endif %}
    <ul class="header-social-list">
        {% for item in collections.links %}
            <li><a href="{{item.data.url}}" target="_blank" rel="noopener"><i class="{{item.data.icon}}"></i></a></li>
        {% endfor %}
    </ul>
    {# {{ component('socialLinks', {
        primary: 'header-social-list',
        secondary: 'list-item',
        data: collections.links
    }) }}
    {% list "header-social-list", "list-item", "icon,link", collections.links %} #}
    <br/>Copyright &copy; {{ build.timestamp | toformat('yyyy') }} TechFests
    {% if (env.env === 'development' and features.adminMenu === '1') %}
        <ul class="nav-list-admin">
            <li><a href="/admin/" {% if isCurrent %}aria-current="page"{% endif %} title="Admin">Admin-{{env.env}}</a>
                <ul>
                    <li>{% include "admins.njk" %}</li>
                </u>
            </li>
        </ul>
    {% endif %}
</nav>
<nav class="nav js-nav" role="navigation" tabindex="-1">
    {#<button
        class="nav__toggle js-nav-toggle"
        aria-expanded="false"
        aria-controls="nav-menu"
    >
        <span class="sr-only">toggle menu</span>
        <span class="menuicon">
            <span class="menuicon__bar"></span>
            <span class="menuicon__bar"></span>
            <span class="menuicon__bar"></span>
            <span class="menuicon__bar"></span>
        </span>
    </button>#}
    <ul class="nav__menu js-nav-menu" id="nav-menu">
    {%- for item in nav.main | admin -%}
        {%- if item.url and not item.title.startsWith('_') -%}
            {# {% if (features.singlePageHomePage !== '1') -%}
               {% set item.url = item.url | replace('#','') %}
            {% endif %} #}
            {%- set isCurrent = (item.url == page.url) -%}
            {%- set isParent = item.url != '/' and item.url in page.url -%}
            {# {%- set href = isCurrent ? %}#main{% else %}{{ item.url | url } #}
            {# {%- set href = item.url | url | replace('#','') -%} #}
            <li class="nav__item{% if isCurrent or isParent %} nav__item--active{% endif %}">
                <a
                    class="nav__link header-menu-text{% if isCurrent or isParent %}-active{% endif %}"
                    href="{{ item.url | url | urlspa }}"
                    {% if isCurrent %}aria-current="page"{% endif %}
                >
                    {{ item.title | title }}
                </a>
            </li>
        {%- endif -%}
    {%- endfor -%}
    <li style="width:20px"></li>
    </ul>
</nav>
