{# {%- from "./component.njk" import component -%} #}
{{ params.data }}
{# <h3 class="pricing-plan-title d-flex align-items-center">{{item.data.title}} {# <span class="badge badge-pill offer-badge ml-auto">20% off</span>#}{#</h3>  #}
<h3 class="{{ params.data.title | tolower }}-title d-flex align-items-center">{{params.data.title}}</h3> 
{# <p class="h1 pricing-plan-original-cost"><del>$23.00</del></p> #}
<p class="h1 {{ params.data.subtitle | tolower }}-subtitle">{{params.data.subtitle}}</p>
{# <span class="currency">USD</span> #}
{% if (params.data.img != "") %}
    <img src="{{params.data.img}}" alt="{{params.data.title}}">
{% endif %}

{% if (params.data.description != "") %}
<div class="text-center">
    <p>{{ params.data.description | safe }}</p>
</div>
{% endif %}

{# <a href="#connect" class="btn">Sponsor Now!</a> #}
{# <div class="text-center">
<a href="#contact" class="pricing-plan-link">Learn more</a>
</div> #}
