   <section id="topics">
   	<div class="overlay"></div>
   	<div class="gradient-overlay"></div>   	
   	<div class="row narrow section-intro with-bottom-sep animate-this">
   		<div class="col-full">   			
			<h3>Topics for everyone!</h3>
			<h1>Topics &amp; Technologies</h1>
			<p class="lead">Something not on the list? No way! Please, let us know!</p>	   	
   	   </div>
   	</div>
   	<div class="row topics-content">
   		<div class="topics-list block-1-2 block-tab-full group">
	      	<div class="bgrid topic-item animate-this"><span class="icon"><i class="icon-cloud"></i></span><div class="topic-content"><h3 class="h05">Cloud</h3></div></div>
			<div class="bgrid topic-item animate-this"><span class="icon"><i class="icon-lego-block"></i></span><div class="topic-content"><h3 class="h05">DevOps</h3></div></div>
			<div class="bgrid topic-item animate-this"><span class="icon"><i class="icon-rocket"></i></span><div class="topic-content"><h3 class="h05">Agile</h3></div></div>
			<div class="bgrid topic-item animate-this"><span class="icon"><i class="icon-earth"></i></span><div class="topic-content"><h3 class="h05">Web</h3></div></div>
			<div class="bgrid topic-item animate-this"><span class="icon"><i class="icon-paint-brush"></i></span><div class="topic-content"><h3 class="h05">Design/UX</h3></div></div>
			<div class="bgrid topic-item animate-this"><span class="icon"><i class="icon-database"></i></span><div class="topic-content"><h3 class="h05">Database</h3></div></div>
			<div class="bgrid topic-item animate-this"><span class="icon"><i class="icon-calculator"></i></span><div class="topic-content"><h3 class="h05">BI/Big Data</h3></div></div>
			<div class="bgrid topic-item animate-this"><span class="icon"><i class="icon-calculator"></i></span><div class="topic-content"><h3 class="h05">AI</h3></div></div>
			<div class="bgrid topic-item animate-this"><span class="icon"><i class="icon-building"></i></span><div class="topic-content"><h3 class="h05">Entrepreneurs</h3></div></div>
			<div class="bgrid topic-item animate-this"><span class="icon"><i class="icon-user-tie"></i></span><div class="topic-content"><h3 class="h05">Leadersship</h3></div></div>
			<div class="bgrid topic-item animate-this"><span class="icon"><i class="icon-calendar"></i></span><div class="topic-content"><h3 class="h05">Project Managers</h3></div></div>			
			<div class="bgrid topic-item animate-this"><span class="icon"><i class="icon-megaphone"></i></span><div class="topic-content"><h3 class="h05">Social Media & Marketing</h3></div></div>
	    </div> 
   	</div>
	<!--
   	<div class="row services-content">
   		<div class="services-list block-1-2 block-tab-full group">
	      	<div class="bgrid service-item animate-this">
	      		<span class="icon"><i class="icon-paint-brush"></i></span>
	            <div class="service-content">
	            	<h3 class="h05">Branding</h3>
		            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
	         		</p>	         		
	         	</div>
				</div>
				<div class="bgrid service-item animate-this">
					<span class="icon"><i class="icon-earth"></i></span>
	            <div class="service-content">	
	            	<h3 class="h05">Web Design</h3>
		            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
	         		</p>	         		
	            </div>
			   </div>
			   <div class="bgrid service-item animate-this">
			   	<span class="icon"><i class="icon-lego-block"></i></span>
	            <div class="service-content">
	            	<h3 class="h05">Web Development</h3>
		            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
	        			</p>
	            </div> 	            	               
			   </div>
				<div class="bgrid service-item animate-this">
					<span class="icon"><i class="icon-megaphone"></i></span>
	            <div class="service-content">
	            	<h3 class="h05">Marketing</h3>
		            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
	         		</p>	         		
	            </div>
				</div>
	      </div>   		
   	</div>
	-->
   </section>
   