---
layout: "base"
title: "Covid Policy"
permalink: "/about/covid/"
url: "/about/covid/"
tags: ["nav-about"]
parent: /about
---

<div class="container">
    <h1>Covid Policy</h1>
    <p>Coming soon.</p>
</div>