---
layout: "base"
title: "Covid Policy"
permalink: "/about/covid/"
url: "/about/covid/"
tags: ["nav-about"]
---

<div class="container">
    <h1>Covid Policy</h1>
    <p>You are currently offline.</p>
</div>