---
layout: base
title: TulsaTechFest 2021
permalink: /single/
url: /single/
eleventyExcludeFromCollections: true
eleventyNavigation:
  key: TulsaTechFest 2021
---
{%- from "./includes/component.njk" import component -%}
{# {% for item in ["home","about"] %}
  {% 'boop:' + item %}
  {% include './components/' + item + '.njk' %}
{% endfor %} #}
{# {% for item in ["home","about"] %}
  {% include './components/{{item}}.njk' %}
{% endfor %} #}
{# {% for item in collections.section %}
  {{ item.templateContent|safe }}
{% endfor %} #}
{# {% include './components/index.njk' %} #}
{# {% include './includes/alerts.njk' %} #}

{% include './includes/home.njk' %}

{% include './includes/about.njk' %}
{% include './includes/audience.njk' %}

{# {% include './components/topics.njk' %} #}
{# {% include './components/coming.njk' %} #}

{# {% include './includes/sponsors.njk' %} #}


		{# {{ component('carousel', {
			primary: 'sponsor',
			data: collection.sponsors
		}) }}
 #}

{# {% include './includes/sponsor.njk' %} #}
{{ component('section', {
    title: 'Sponsor',
    subtitle: 'This is the best way to connect with regional technologists!',
    text: '',
    include: 'sponsorLevels',
    collections: collections
}) }}

{{ component('section', {
    title: 'Additional Sponsorship Opportunities',
    subtitle: 'Banner/sign can be displayed (if provided. Booth not included.)',
    text: '',
    include: 'sponsorLevels-extra',
    collections: collections    
}) }}

{{ component('section', {
    title: 'Submit',
    text: '<p class="lead"><a href="https://sessionize.com/tulsatechfest-2021">Please submit your paper/session details using Sessionize.<br/><img src="/assets/images/banners/sessionize-call-for-papers.png" alt="Please submit your session details using Sessionize" width="400" height="64"></a></p>',
    include: ''
}) }}


{# {% include './includes/submit.njk' %} #}

{# {% include './components/speakers.njk' %} #}

{# {% include './components/testimonials.njk' %} #}
{% include './includes/connect.njk' %}
{# {% include './includes/socialLinks.njk' %} #}

{# {% include './includes/partials/links.njk' %} #}

{# {% sectionList "sponsor", "list-item", "image,link", collections.sponsors %} #}
{# {% sectionList "sponsor", "list-item", "image,link", 'socialLinks' %} #}
{# {% carousel "Sponsor", "list-item", collections.sponsors %} #}

{# {% sectionList "socialLinks", "list-item", collections.links %} #}

{# {{ component('listSection', {
  primary: 'socialLinks',
  data: collections.links
}) }} #}


{# {% include './includes/partials/sponsors.njk' %} #}

{# {{ component('sectionList', {
  primary: 'Sponsors',
  secondary: 'list-item',
  data: collections.sponsors
})}} #}
