---
layout: "base"
title: "Admin"
permalink: "/admin/all/"
url: "/admin/all/"
eleventyExcludeFromCollections: true
eleventyNavigation:
  key: "Admin"
  order: 999
---

{% include '../../includes/admin.njk' %}
