---
layout: "base"
title: "Collections"
permalink: "/admin/collections/"
url: "/admin/collections/"
eleventyExcludeFromCollections: true
tags: ["nav-admin"]
eleventyNavigation:
  key: "Collections"
  order: 999
---

{% include '../../includes/components/collections.njk' %}
