---
layout: "base"
title: "Config"
permalink: "/admin/config/"
url: "/admin/config/"
tags: ["nav-admin"]
eleventyExcludeFromCollections: true
eleventyNavigation:
  key: "Config"
  order: 999
---
{%- from "../../includes/component.njk" import component -%}

{{ component('section', {
	title: 'admin-Config',
	subtitle: '',
	data: config | tolist
}) }}
