---
layout: "base"
title: "Admin"
permalink: "/admin/"
url: "/admin/"
eleventyExcludeFromCollections: true
eleventyNavigation:
  key: "Admin"
  order: 999
---

{% include '../../includes/sections/admin.njk' %}
