---
layout: "base"
title: "Admin"
permalink: "/admin/"
url: "/admin/"
eleventyExcludeFromCollections: true
eleventyNavigation:
  key: "Admin"
  order: 999
---

{% include "../../includes/admins.njk" %}

{% for item in tools %}
  <li><a href="/admin/tools/{{ item.key | tolower }}/">{{ item.key | title }} [{{item.value.length}}]</a></li>
  {# {% endif %} #}
{% endfor %}

{# <a href="/admin/alerts/">Alerts [{{alerts.length}}]</a><br/>
<a href="/admin/nav/">Nav [{{nav.length}}]</a><br/>
<a href="/admin/features/">Features [{{features.length}}]</a><br/> #}

{# {% for item in nav %}
	<a href="{{ item.url | url }}">{{ nav.title }}</a>
{% endfor %} #}