---
layout: "base"
title: "Links"
permalink: "/admin/links/"
url: "/admin/links/"
tags: ["nav-admin"]
eleventyExcludeFromCollections: true
eleventyNavigation:
  key: "Links"
  order: 999
---
{%- from "../../includes/component.njk" import component -%}

{{ component('section', {
	title: 'admin-Links',
	subtitle: '',
	data: links
}) }}