---
layout: "base"
title: "Nav-Admin"
permalink: "/admin/nav-admin/"
url: "/admin/nav-admin/"
tags: ["nav-admin"]
---
{%- from "../../includes/component.njk" import component -%}

{{ component('section', {
	title: 'admin-Nav-admin',
	subtitle: '',
	data: nav.admin
}) }}