---
layout: "base"
title: "Nav"
permalink: "/admin/nav/"
url: "/admin/nav/"
tags: ["nav-admin"]
eleventyExcludeFromCollections: true
eleventyNavigation:
  key: "Nav"
  order: 999
---
{%- from "components/component.njk" import component -%}

{{ component('list', {
	primary: 'item-list',
	secondary: 'table-item',
	data: collections.all | eleventyNavigation
}) }}
