{%- from "component.njk" import component -%}
<section id="connect">
      <div class="overlay"></div>
		<div class="row narrow section-intro with-bottom-sep animate-this">
   		<div class="col-twelve">
   			<h3>Connect</h3>
   			<h1>Get In Touch.</h1>
   			<p class="lead">Don't be strangers. Connect with us and join your community.</p>
   		</div> 
   	</div>
   	<div class="row connect-content">
   		<div class="col-seven tab-full animate-this">
   			<h5>Send Us A Message</h5>
			{# <ul class="list-links">
            {% include './socialLinks.njk' %}
			</ul> #}
			{{ component('socialLinks', {
				primary: 'list-links',
				secondary: 'table-item',
				data: collections.links
			}) }}
         </div>

         <div class="col-four tab-full connect-info end animate-this">
         	<h5>connect Information</h5>
	   		<div class="cinfo"><h6><a href="mailto:director[@]tulsatechfest.com">Email</a></h6>
			<h6><a href="tel:19184062640">Call: (+1) 918-406-2640</a></h6>
			<h6>Event Location:</h6><p>
	            	OSU-Tulsa Campus<br>
	            	500 N Greenwood Ave<br>
	            	Tulsa, OK 73120 US
	            </p>
			{# <h4 class="h05">Get Notified.</h4>
	      		<p>Share your email with us<br/> and we'll keep you updated!</p>
	      		<div class="subscribe-form">
	      			<form id="mc-form" class="group" novalidate="true">
							<input type="email" value="" name="dEmail" class="email" id="mc-email" placeholder="type email" required=""> 
			   			<!-- <input type="submit" name="subscribe" > -->
			   			<!--<button><i class="icon-mail"></i></button>-->
						<button class="submitform">SEND</button>
		   				<label for="mc-email" class="subscribe-message"></label>
					</form>
	      		</div>				 #}
         </div>
		 
   	</div>
	</section>
