<style>
@charset "UTF-8"; @import url("../css/font-awesome/css/font-awesome.min.css"); html {
    font-size: 10px;
}

html, body {
    height: 100%;
}

body {
    background: #000;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 3rem;
    color: #fff !important;
    margin: 0;
    padding: 0;
}

a, a:visited {
    color: #fff;
    /* #07617d;*/
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

h1, h2, h3, h4, h5, h6, .h01, .h02, .h03, .h04, .h05, .h06 {
    font-family: "montserrat-bold", sans-serif;
    color: #FFFFFF;
    /*#151515;*/
    font-style: normal;
    text-rendering: optimizeLegibility;
    margin-bottom: 2.1rem;
}

h3, .h03, h4, .h04 {
    margin-bottom: 1.8rem;
}

h1, .h01 {
    font-size: 3.1rem;
    line-height: 1.35;
    letter-spacing: -.1rem;
}
h2, .h02 {
    font-size: 2.4rem;
    line-height: 1.25;
}

h3, .h03 {
    font-size: 2rem;
    line-height: 1.5;
}

p img {
    margin: 0;
}

p.lead {
    font-family: "montserrat-regular", sans-serif;
    font-size: 2.25rem;
    line-height: 1.8;
    color: #fff;
    margin-bottom: 3.6rem;
}

em, i, strong, b {
    font-size: 1.6rem;
    line-height: 3rem;
    font-style: normal;
    font-weight: normal;
}

em, i {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


ul {
    list-style: disc;
}

li {
    display: list-item;
}

ol, ul {
    margin-left: 1.7rem;
}

ul li {
    padding-left: .4rem;
}

button, .button {
    margin-bottom: 1.2rem;
}


input, textarea, select, pre, blockquote, figure, table, p, ul, ol, dl, form, .fluid-video-wrapper, .ss-custom-select {
    margin-bottom: 3rem;
}

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: #f9a828;
    position: fixed;
    z-index: 900;
    top: 0;
    right: 100%;
    width: 100%;
    height: 6px;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #0F1215;
    z-index: 800;
    height: 100%;
    width: 100%;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 60px;
    height: 60px;
    margin-left: -30px;
    margin-top: -30px;
    padding: 0;
    background-color: #f9a828;
    border-radius: 100%;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}

.sideway-list {
    text-align: center;
}

.sideway-list a, a:visited {
    margin-right: 30px;
    /*space to the right of the blue outline */
    padding-right: 30px;
    /*between the red and blue outlines*/
    text-align: center;
    display: inline;
    color: #fff;
}

.font-lg {
    font-size: 4rem;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}
[hidden], template {
    display: none;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

a {
    background: transparent;
}

a:active, a:hover {
    outline: 0;
}

h1 {
    font-size: 2em;
    margin: .67em 0;
}


img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

</style>