<header class="header" role="banner">
    <div class="header__inner container">
        <div class="header__left">
            <a href="/" class="header-title-link">TulsaTechFest 2021</a>
        </div>
        <div class="header__right">
            {% include "./navigation.njk" %}
        </div>
    </div>
</header>