<div class="modal fade left" id="myModal"> 
    <div class="modal-dialog"> 
        <div class="modal-content"> 
            <div class="modal-header"> 
                <h3 class="pull-left no-margin">{{params.primary}}</h3>
                <button type="button" class="close" data-dismiss="modal" title="Close"><span class="glyphicon glyphicon-remove"></span></button> 
            </div> 
            <div class="modal-body">{% include "./params.secondary.njk" %}</div>
            <div class="modal-footer"> 
                {% include "./modal-footer.njk" %}
                <button class="btn-sm close" type="button" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>