{# {{ component('sectionCards', {
    primary: 1,
    secondary: 3,
    collections: collections
}) }}

{{ component('sectionCards', {
    primary: 4,
    secondary: 6,
    collections: collections
}) }} #}