{% for item in params.collections.sponsorlevel | sortByOrder %}
    {% if (loop.index >= params.primary) and (loop.index <= params.secondary) %}
    <div class="col-md-4">
        <div class="card pricing-card">
        <div class="card-body">
            {# <h3 class="pricing-plan-title d-flex align-items-center">{{item.data.title}} {# <span class="badge badge-pill offer-badge ml-auto">20% off</span>#}{#</h3>  #}
            <h3 class="pricing-plan-title d-flex align-items-center">{{item.data.title}}</h3> 
            {# <p class="h1 pricing-plan-original-cost"><del>$23.00</del></p> #}
            <p class="h1 pricing-plan-cost">{{item.data.price}} <span class="currency">USD</span></p>

            {% if (item.data.description != "") %}
            <div class="text-center">
            <p>{{ item.data.description | safe }}</p>
            </div>
            {% endif %}

            <ul class="pricing-plan-features">
            {% for feature in params.collections['sponsorfeature' + item.data.title | lower] %}
                <li class="feature-{{ 'special' if feature.data.type == 'special' else 'item'}}">{{feature.data.text | safe}}</li>
                {# <li{{' class=feature-special' if feature.data.type == 'special' }}>{{feature.data.text | safe}}</li> #}
            {% endfor %}
            </ul>
            <a href="#connect" class="btn">Sponsor Now!</a>
            {# <div class="text-center">
            <a href="#contact" class="pricing-plan-link">Learn more</a>
            </div> #}
        </div>
        </div>
    </div>
    {% endif %}
{% endfor %}