   <section id="about">
   	<div class="row about-wrap">
   		<div class="col-full">
   			<div class="about-profile-bg"></div>
				<div class="intro">
					<h3 class="animate-this">About</h3>
	   			<p class="lead animate-this">TulsaTechFest 2021 is our 14th conference. It is a *FREE charitable non-profit event organized, by the community for the community.<br/>Even though it is a free event, we request you to *PLEASE bring TWO CANS or TWO BUCKS. We usually collect around 500 pounds of food! Let's top that this year! Help your community, the Community Food Bank and Homeless Center!</p>
				</div>   
   		</div>
   	</div>
	<div class="scrolldown"><a href="#audience" class="scroll-icon smoothscroll">Scroll Down<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></div>
   </section>