   <section id="audience">
   	<div class="overlay"></div>
   	<div class="gradient-overlay"></div>
   	<div class="row narrow section-intro with-bottom-sep animate-this">
   		<div class="col-full">
			<h3>Something for Everyone</h3>
			<h1>Who Should Attend? Everyone!</h1>
			<p class="lead">With so many sessions, there truly is something for everyone.</p>
			{# <p class="lead">Anyone can level up in the Microsoft Office track!</p> #}
			<p class="lead">With this many hours of training, anyone wanting to further develop their career will definitely find interesting and instructional presentations by professional speakers.</p>
			<p class="lead">This is your opportunity to get out of the house and/or office!</p>
			<p class="lead">Network! Learn something new! Meet someone new!</p>
   	   </div>
   	</div>
<!--
    <p class="lead">These folks cannot afford to miss it:
      <ul>
        <li>Every IT Professional</li>
        <li>IT Job seekers and IT Recruiters and Hiring Managers</li>
        <li>Developers of all languages</li>
        <li>Graphic and Web Designers</li>
        <li>Infrastructure, IT and System Administrators</li>
        <li>Content, Marketing and Social Media Professionals</li>
        <li>Project Managers</li>
        <li>Compliance Managers</li>
        <li>IT Directors and Managers</li>
        <li>Chief Compliance Officers</li>
        <li>Chief Security Officers</li>
        <li>CIOs/CTOs</li>
        <li>CEOs/Executive Officers</li>
      </ul>
    </p>
	-->
   	{# <div class="row services-content">
   		<div class="services-list block-1-2 block-tab-full group">
	      	<div class="bgrid service-item animate-this"><span class="icon"><i class="icon-earth"></i></span><div class="service-content"><h3 class="h05">Every IT Professional</h3><p></p></div></div>
			<div class="bgrid service-item animate-this"><span class="icon"><i class="icon-paint-brush"></i></span><div class="service-content"><h3 class="h05">IT Job seekers and IT Recruiters and Hiring Managers</h3></div></div>
			<div class="bgrid service-item animate-this"><span class="icon"><i class="icon-lego-block"></i></span><div class="service-content"><h3 class="h05">Developers of all languages</h3></div></div>
			<div class="bgrid service-item animate-this"><span class="icon"><i class="icon-paint-brush"></i></span><div class="service-content"><h3 class="h05">Graphic and Web Designers</h3></div></div>
			<div class="bgrid service-item animate-this"><span class="icon"><i class="icon-paint-brush"></i></span><div class="service-content"><h3 class="h05">Infrastructure, IT and System Administrators</h3></div></div>
			<div class="bgrid service-item animate-this"><span class="icon"><i class="icon-paint-brush"></i></span><div class="service-content"><h3 class="h05">Content, Marketing and Social Media Professionals</h3></div></div>
			<div class="bgrid service-item animate-this"><span class="icon"><i class="icon-paint-brush"></i></span><div class="service-content"><h3 class="h05">Executives - IT Directors, Managers, Directors and Officers</h3></div></div>
			<div class="bgrid service-item animate-this"><span class="icon"><i class="icon-paint-brush"></i></span><div class="service-content"><h3 class="h05">Students, Teachers and Parents</h3></div></div>			
	    </div>   		
   	</div> #}
   </section>
