   <section id="coming">
   	<div class="overlay"></div>
   	<div class="gradient-overlay"></div>   	
   	<div class="row narrow section-intro with-bottom-sep animate-this">
   		<div class="col-full">   			
			<h3>We are hard at work on many exciting announcements!</h3>
			<h1>More details coming soon.</h1>
			<p class="lead">Got an idea? No way! Please, let us know!</p>
   	   </div>
   	</div>
   </section>
   