   <section id="sponsors">
   	<div class="overlay"></div>
   	<div class="gradient-overlay"></div>   	
   	<div class="row section-intro with-bottom-sep animate-this">
   		<div class="col-full">
        <ul>
        {% for item in collections.sponsors %}
          <li class="col-1"><a href="{{item.url}}"><img src="{{item.data.img}}" alt="{{item.data.title}}"></a></li>
        {% endfor %}
        <ul>
      </div>
    </div>
  </section>