   <section id="submit">
   	<div class="overlay"></div>
   	<div class="gradient-overlay"></div>   	
   	<div class="row section-intro with-bottom-sep animate-this">
   		<div class="col-full">   			
        <h3>Submit</h3>
        <p class="lead">Please submit your session details using Sessionize: <a href="http://sessionize.com/techfests/tulsatechfest">http://sessionize.com/techfests/tulsatechfest</a></p>
      </div>
    </div>
  </section>